<!-- <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    CURRENTLY BLOCKED BY CORS
    <link
      rel="stylesheet"
      media="all"
      href="https://www.scoutsengidsenvlaanderen.be/sites/default/files/css/css_HcXvQohzKtrlVmM1g8ZckeWNxd5kYP7g3vcVvDrsfZY.css"
    />
    <link
      rel="stylesheet"
      media="all"
      href="https://www.scoutsengidsenvlaanderen.be/sites/default/files/css/css_4i8PYChb_IczpR95G-Kuhs9RTH-mluPwXKxnqpkzplA.css"
    />
    <link
      rel="stylesheet"
      media="all"
      href="https://www.scoutsengidsenvlaanderen.be/sites/default/files/css/css_X7eLNBoPj__U4q7WlFrk3H3cGdGSBJ3YjynI2Qdcws4.css"
    />
    <link
      rel="stylesheet"
      media="all"
      href="https://www.scoutsengidsenvlaanderen.be/sites/default/files/css/css_FllLK7COXYhSX3rrjezml8Jeys_Ovqodg26NQcP_gts.css"
    />
    <link
      rel="stylesheet"
      media="all"
      href="https://www.scoutsengidsenvlaanderen.be/sites/default/files/css/css_TpHhczprG5fgdQcGGQYU4R2tNsvEKXPX8HRFhmzJ2BU.css"
    />
    <title>Vue3 App</title>
  </head>
  <body>
    <div id="app"></div>
    <script type="module" src="/src/main.ts"></script>
  </body>
</html> -->

<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <link rel="icon" href="<%= BASE_URL %>favicon.ico" />
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    <noscript>
      <strong
        >We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work
        properly without JavaScript enabled. Please enable it to
        continue.</strong
      >
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
